::-webkit-scrollbar{
    width: 12px;
}

::-webkit-scrollbar-track{
    background: rgba(255, 255, 255, 0.144);
    backdrop-filter: blur(40.7742px);
    border-radius: 20px;
}

::-webkit-scrollbar-thumb{
    background-color: #ffffff;
    border-radius: 20px;
}